@import url("../styles.css");

.password-email-sent-content {
    display: flex;
    flex-direction: row;
    margin-right: 192px;
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
    width: 100%;
    max-width: 479px;
}

.span-content {
    width: 100%;
    max-width: 500px;
    display: flex;
}

.component-content-right {
    width: 100%;
    max-width: 550px;
}

@media screen and (max-width: 550px) {
    .password-email-sent-content {
        margin: 16px;
    }

    .content-block-background {
        width: 64px;
        height: 64px;
    }

    .content-block-background img {
        height: 32px;
    }

    .component-content-left {
        padding-top: 0;
    }

    .h1-content {
        margin-top: 0;
    }
}
