@import url("../styles.css");

.password-email-sent-content {
    display: flex;
    flex-direction: row;
    margin-right: 192px;
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
    width: 479px;
}

.span-content {
    width: 515px;
}
.component-content-right{
  width: 550px;
}