@import url("../styles.css");

.forgot-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.general-button {
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
}

.error-hint-block {
    background: #FFF5F4;
    max-width: 744px;
    width: 100%;
    height: max-content;
    min-height: 249px;
    padding: 32px;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #CB410B;
}

.span-content {
    max-width: 515px;
}

.form-input {
    margin-top: 16px;
}

.forgot-password-block {
    width: 360px;
    margin-bottom: 16px;
}

.error-hint-block h1 {
    font-family: Averta-Bold, sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-top: 0;
}

.error-hint-block-left {
    height: 100%;
    width: max-content;
    margin-right: 32px;
}

.error-hint-block-left img {
    width: max-content;
    height: max-content;
}

b {
    color: #C45308;
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    .forgot-password-content {
        margin: 16px;
    }

    .error-hint-block {
        padding: 16px;
    }

    .error-hint-block-left {
        margin-right: 16px;
    }

    .error-hint-block .error-hint-block-left {
        margin-right: 16px;
    }

    .form-input {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .error-hint-block img {
        height: 32px;
        width: 32px;
    }
}
