@import url("../styles.css");

.general-button {
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
    width: 100%;
    max-width: 540px;
}

.span-content {
    width: 100%;
    max-width: 500px;
    display: flex;
    margin-bottom: 16px;
}

.commitment-confirmation-content {
    display: flex;
    flex-direction: row;
    margin-right: 192px;
    margin-top: 32px;
}

@media screen and (max-width: 550px) {
    .commitment-confirmation-content {
        margin: 16px;
    }

    .content-block-background {
        width: 64px;
        height: 64px;
    }

    .content-block-background img {
        height: 32px;
    }

    .component-content-left {
        padding-top: 0;
    }

    .h1-content {
        margin-top: 0;
    }
}
