@import url("../styles.css");

.forgot-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.general-button {
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
}

.span-content {
    max-width: 515px;
}

.form-input {
    margin-top: 16px;
}

.forgot-password-block {
    width: 360px;
    margin-bottom: 16px;
}

b {
    color: #C45308;
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    .forgot-password-content {
        margin: 16px;
    }

    .form-input {
        display: flex;
        align-items: center;
        width: 100%;
    }
}
