@import url("../styles.css");

.new-password-content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.general-button {
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
}

.hint-container {
    width: 360px;
    height: 112px;
    background: #F1F3F7;
    color: #475C6D;
    font-family: Averta-Regular, sans-serif;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.hint-container ul {
    margin: 0;
}

.span-content {
    margin-bottom: 16px;
}

.form-input {
    margin-top: 16px;
}

@media screen and (max-width: 550px) {
    .new-password-content{
        margin-top: 0;
        margin-bottom: 32px;
    }
}
