@import url("../styles.css");

.forgot-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.general-button {
    margin-top: 32px;
}

.h1-content {
    margin-top: 33px;
}

.error-hint-block {
    background: #FFF5F4;
    width: 744px;
    height: 249px;
    padding: 32px;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.error-hint-block .span-content:first-of-type {
    display: flex;
    width: 100%;
}

.error-hint-block h1 {
    font-family: Averta-Bold, sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-top: 0;
}

.error-hint-block-left {
    height: 100%;
    width: max-content;
    margin-right: 32px;
}

.error-hint-block-left img {
    width: max-content;
    height: max-content;
}
b{
    color: #C45308;
    text-decoration: underline;
}